html {
    // font-size: 62.5%;
}

body {
    background-color: $white;
    color: $dark-grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, a {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    line-height: 1.5rem;
    color: $black;
}

h1 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 0.9px;
}

h2, h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
}

p, address, span, input {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    letter-spacing: 0.3px;
}

button {
    border-radius: 0;
    border: none;
}

* {
    box-shadow: 0 0 0 1px red;
}

*:after {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}