html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    color: $dark-grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.1rem;
}

p, address, span, input {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 0;
    border: none;
}

* {
    box-shadow: 0 0 0 1px red;
}