body {
    background-color: $white;
    color: $grey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    
}

h1, h2, h3, a {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    color: $black;
}

h1 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 0.9px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    letter-spacing: 0.3px;
}

button {
    border-radius: 0;
    border: none;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

textarea,
input {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    border: none;
    padding: 10px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: $grey;
    }
}

i {
    color: $dark-grey;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
    color: $dark-grey;
}

*:after {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}