// LAYOUT RULES:

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.outer-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

// GENERAL-USE MODULES:

.m-primary-button {
    padding: 10px;
    display: inline-block;
    font-weight: 600;
    background-color: $white;
}

.m-line-detail {
    position: absolute;
    left: calc(50% - 1px);
    bottom: -75px;
    width: 1px;
    z-index: 1;
    line {
        stroke: $dark-grey;
        stroke-width: 1px;
    }
}

.m-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    .fa-bars {
        display: none;
        padding: 10px;
        font-size: 30px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul:last-child {
        text-align: right;
    }
    h1 {
        position: absolute;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    a {
        display: inline-block;
        padding: 10px;
    }
}

@media (max-width: 560px) {
    .m-header {
        .mobile-menu:hover nav {
            display: flex;
        }
        .fa-bars {
            display: inherit;
            text-align: right;
        }
        nav {
            flex-direction: column;
            align-items: flex-end;
            display: none;
            ul {
                display: flex;
                flex-direction: column;
                text-align: right;
                width: 120px;
            }
        }
        h1 {
            text-align: left;
        }
    }
}

.m-footer {
    background-color: $dark-grey;
    padding: $section-padding;
    padding-bottom: 0;
    color: $white;
    .content {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        section {
            flex-basis: 200px;
            margin-bottom: 25px;
            form {
                display: grid;
                grid-template-columns: minmax(auto, 180px) 25px;
                justify-content: center;
            }
        }
        .posts {
            ul {
                list-style-type: circle;
                list-style-position: inside;
            }
            p {
                display: inline;
            }
        }
        .subscribe {
            text-align: right;
        }
    }
    nav {
        i {
            font-size: 1.5rem;
            margin: 10px;
        }
    }
    // .content {
    //     display: grid;
    //     grid-template-columns: auto auto auto;
    //     grid-template-rows: auto auto auto;
    //     grid-template-columns: repeat(auto-fit, 200px);
    //     justify-content: center;
    // }
    // .content {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-wrap: wrap-reverse;
    //     section {
    //         margin-bottom: 25px;
    //     }
    // }
    // .contact {
    //     flex-basis: 320px;
    // }
    // .subscribe {
    //     flex-basis: 180px;
    //     text-align: right;
    //     form {
    //         display: grid;
    //         grid-template-columns: minmax(auto, 180px) 25px;
    //         justify-content: center;
    //     }
    // }
    // .posts {
    //     flex-basis: 320px;
    //     ul {
    //         list-style-type: circle;
    //         list-style-position: inside;
    //     }
    // }
    // p {
    //     display: inline;
    // }
    // .bottom-container {
    //     text-align: center;
    //     padding: 30px;
    //     border-top: 1px solid $grey;
    // }
    // nav {
    //     i {
    //         font-size: 1.5rem;
    //         margin: 5px;
    //     }
    // }
}

@media (max-width: 666px) {
    .m-footer {
        .content {
            justify-content: center;
            .subscribe {
                text-align: center;
            }
        }
    }
}

// @media (max-width: 700px) {
//     .m-footer {
//         .content {
//             flex-wrap: wrap-reverse;
//             section {
//                 flex-grow: 1;
//                 text-align: left;
//             }
//             .subscribe {
//                 text-align: center;
//             }
//         }
//     }
// }