// LAYOUT RULES:

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.outer-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

// GENERAL-USE MODULES:

.m-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    .fa-bars {
        display: none;
        padding: 10px;
        font-size: 30px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul:last-child {
        text-align: right;
    }
    h1 {
        position: absolute;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    a {
        display: inline-block;
        padding: 10px;
    }
}

@media (max-width: 560px) {
    .m-header {
        .mobile-menu:hover nav {
            display: flex;
        }
        .fa-bars {
            display: inherit;
            text-align: right;
        }
        nav {
            flex-direction: column;
            align-items: flex-end;
            display: none;
            ul {
                display: flex;
                flex-direction: column;
                text-align: right;
                width: 120px;
            }
        }
        h1 {
            text-align: left;
        }
    }
}

.m-line-detail {
    position: absolute;
    left: calc(50% - 1px);
    bottom: -75px;
    width: 1px;
    z-index: 1;
    line {
        stroke: $dark-grey;
        stroke-width: 1px;
    }
}

.m-footer {
    background-color: $dark-grey;
    padding: $section-padding;
    padding-bottom: 0;
    color: $white;
    .content {
        display: flex;
        justify-content: space-between;
    }
    .subscribe {
        text-align: right;
    }
    .posts ul {
        list-style-type: circle;
    }
    .bottom-container {
        text-align: center;
        padding: 30px;
        border-top: 1px solid $grey;
    }
}