// LAYOUT RULES:

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.outer-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}