.m-hero {
    img {
        width: 100%;
        height: 100vh;
        max-height: 600px;
        object-fit: cover;
    }
}

.m-services {
    position: relative;
    padding: $section-padding;
    background-color: $primary-color;
    .img-container {
        position: relative;
        margin: 0 auto;
        width: 250px;
        height: 180px;
    }
    .stamp-img {
        position: absolute;
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
    }
    .main-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 600px;
    }
    article {
        flex-basis: 200px;
        text-align: center;
        flex-grow: 1;
        margin: 25px;
    }
}

.m-articles {
    padding: $section-padding;
    display: flex;
    justify-content: space-between;
    button {
        flex-grow: 1;
        background-color: transparent;
    }
    article {
        text-align: center;
        margin: auto;
        flex-basis: 500px;
    }
    img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-bottom: 25px;
    }
}

.m-features {
    position: relative;
    .wrapper {
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 600px;
    }
    ul {
        flex-basis: 25%;
    }
    li {
        padding: 25px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        gap: 10px;
    }
    i {
        border: 1px solid $dark-grey;
        padding: 10px;
        border-radius: 50%;
    }
    img {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 600px;
        width: 100%;
    }
}

.m-team {
    padding: $section-padding;
    h2 {
        text-align: center;
    }
    ul {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
        grid-template-rows: 1fr;
        grid-gap: 25px;
        align-items: center;
    }
    ul li:first-child {
        grid-column-end: span 2;
        align-self: end;
        text-align: left;
    }
    .team-card {
        padding: 50px;
        text-align: center;
    }
    img {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .m-team ul li:first-child {
        grid-column-end: span 1;
    }
}

.m-call-to-action {
    /* height: 500px; */
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    background-color: $primary-color;
    height: 400px;
}

.m-call-to-action article {
    margin: auto;
    width: 250px;
    text-align: center;
    padding: 40px;
}

.m-call-to-action img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}