a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
  color: #939393;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h1, h2, h3, a {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  color: #000000;
}

h1 {
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.3px;
}

button {
  border-radius: 0;
  border: none;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

textarea,
input {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  border: none;
  padding: 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #939393;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #939393;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #939393;
}

textarea::placeholder,
input::placeholder {
  color: #939393;
}

i {
  color: #333333;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
  color: #333333;
}

*:after {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

/* SMACSS Base Rules */
.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.outer-wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* SMACSS Layout Rules */
.m-skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.m-skip-link:focus {
  left: 0;
}

.m-primary-button {
  padding: 15px;
  display: inline-block;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 600;
  color: #000000;
}

.m-subscribe-button {
  background-color: #C3DAB7;
}

.m-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 80px;
}

.m-form input, .m-form textarea {
  border-bottom: 1px solid #F6F6F6;
  padding-left: 0;
  width: 100%;
  height: 100%;
}

.m-form input:focus {
  border-bottom: 1px solid #939393;
}

.m-form .textarea-container {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  height: 250px;
}

.m-form button {
  background-color: transparent;
  border-bottom: 1px solid #939393;
  font-weight: 600;
  padding: 10px 0;
}

@media (max-width: 700px) {
  .m-form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .m-form .textarea-container {
    grid-column-end: auto;
  }
}

.m-line-detail, .m-line-detail-half {
  position: absolute;
  left: calc(50% - 1px);
  bottom: -75px;
  width: 1px;
  z-index: 1;
}

.m-line-detail line, .m-line-detail-half line {
  stroke: #333333;
  stroke-width: 1px;
}

.m-header, .m-header-alt {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.m-header .outer-wrapper, .m-header-alt .outer-wrapper {
  height: 70px;
}

.m-header .mobile-menu, .m-header-alt .mobile-menu {
  text-align: right;
}

.m-header .fa-bars, .m-header-alt .fa-bars {
  display: none;
  padding: 20px;
  font-size: 30px;
  line-height: 2;
}

.m-header nav, .m-header-alt nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-header nav ul:last-child, .m-header-alt nav ul:last-child {
  text-align: right;
}

.m-header li, .m-header-alt li {
  display: inline;
}

.m-header h1, .m-header-alt h1 {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  pointer-events: none;
  z-index: 1;
}

.m-header a, .m-header-alt a {
  display: inline-block;
  position: relative;
  padding: 20px 10px;
  color: #000000;
  font-size: 14px;
}

.m-header .current::after, .m-header-alt .current::after {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  background-color: #000000;
  top: 50%;
  left: 5px;
}

.m-header i, .m-header-alt i {
  font-size: 18px;
  position: relative;
}

.m-header .fa-shopping-bag:after, .m-header-alt .fa-shopping-bag:after {
  content: '2';
  display: block;
  position: absolute;
  top: 65%;
  left: 65%;
  border-radius: 50%;
  border: 1px solid #939393;
  height: 13px;
  width: 13px;
  background-color: #C3DAB7;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.m-header-alt .outer-wrapper {
  background-color: #FFFFFF;
}

.m-header-alt .fa-bars {
  background-color: #FFFFFF;
}

.m-header-alt nav {
  background-color: #FFFFFF;
}

@media (max-width: 840px) {
  .m-header .mobile-menu, .m-header-alt .mobile-menu, .m-header-alt .mobile-menu {
    width: 120px;
    right: 0;
    position: absolute;
  }
  .m-header .mobile-menu:hover nav, .m-header-alt .mobile-menu:hover nav, .m-header-alt .mobile-menu:hover nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-header .fa-bars, .m-header-alt .fa-bars, .m-header-alt .fa-bars {
    display: inline;
    text-align: right;
  }
  .m-header nav, .m-header-alt nav, .m-header-alt nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: none;
  }
  .m-header nav ul, .m-header-alt nav ul, .m-header-alt nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 120px;
  }
  .m-header h1, .m-header-alt h1, .m-header-alt h1 {
    text-align: left;
    width: auto;
  }
}

.m-footer {
  background-color: #333333;
  padding: 80px 0;
  padding-bottom: 0;
  color: #FFFFFF;
}

.m-footer h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.m-footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-footer .contact, .m-footer .posts, .m-footer .subscribe {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin-bottom: 25px;
}

.m-footer .posts h2 {
  text-align: center;
}

.m-footer .posts p {
  display: inline;
}

.m-footer .posts i {
  color: #FFFFFF;
  font-size: 6px;
  position: relative;
  top: -3px;
}

.m-footer .subscribe {
  text-align: right;
}

.m-footer .subscribe form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px;
      grid-template-columns: 1fr 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-footer nav i {
  font-size: 16px;
  margin: 20px 10px 0 0;
  text-align: left;
  color: #FFFFFF;
}

.m-footer .bottom-container {
  text-align: center;
  padding: 60px;
  border-top: 1px solid #939393;
  letter-spacing: 5px;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

@media (max-width: 999px) {
  .m-footer .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .m-footer .content .subscribe {
    text-align: center;
  }
  .m-footer .content .posts h2 {
    text-align: left;
  }
}

.m-hero img, .m-hero-alt img {
  width: 100%;
  max-height: 100vh;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-hero:after, .m-hero-alt:after {
  content: '';
  height: 100px;
  width: calc(50% - 1px);
  display: block;
  z-index: 1;
  position: absolute;
  border-right: 1px solid #939393;
  bottom: calc((100px / -2) - 0px);
}

.m-hero-alt img {
  max-height: 200px;
  width: 100%;
}

@media (max-width: 710px) {
  .m-hero-alt:after {
    display: none;
  }
}

.m-contact-us {
  position: relative;
}

.m-contact-us h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
  line-height: 50px;
  font-size: 50px;
  position: relative;
  top: -100px;
  width: 300px;
}

.m-contact-us h2:before {
  content: '';
  width: 30px;
  position: absolute;
  top: -25px;
  border-bottom: 3px solid #000000;
}

.m-contact-us h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
  line-height: 50px;
  font-size: 18px;
}

.m-contact-us .explanation {
  margin-bottom: 80px;
}

.m-contact-us .contact-details {
  margin-bottom: 80px;
}

.m-contact-us .contact-details i {
  display: block;
  font-size: 35px;
}

.m-contact-us .contact-details strong {
  margin: 20px 0;
  display: block;
}

.m-contact-us .contact-types {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.m-contact-us .contact-types div {
  background-color: #FFFFFF;
  border-right: 1px solid #939393;
  padding: 50px;
  color: #333333;
}

.m-contact-us .contact-types div:last-child {
  border: none;
}

.m-contact-us .img-container img {
  max-height: 500px;
  min-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .m-contact-us h2 {
    top: 0;
  }
  .m-contact-us .contact-types div:nth-child(2) {
    border: none;
  }
  .m-contact-us .contact-types div:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin: auto;
  }
}

@media (max-width: 630px) {
  .m-contact-us .contact-types {
    display: block;
  }
  .m-contact-us .contact-types div {
    margin: auto;
    width: 300px;
    border: none;
  }
}

.m-blog {
  padding: 80px 0;
}

.m-blog h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
  line-height: 50px;
  font-size: 50px;
  margin: 30px 0;
  line-height: 1;
}

.m-blog nav {
  margin-bottom: 30px;
}

.m-blog nav .current {
  font-weight: 600;
  color: #333333;
}

.m-blog nav a:hover {
  text-decoration: underline;
}

.m-blog .information {
  display: block;
  width: 100%;
  border-bottom: 1px solid #939393;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px (minmax(127px, 1fr))[auto-fit];
      grid-template-columns: 100px repeat(auto-fit, minmax(127px, 1fr));
  padding-bottom: 25px;
  margin-bottom: 60px;
}

.m-blog .information img {
  border-radius: 50%;
  -ms-grid-row-span: 4;
      grid-row-end: span 4;
  margin: auto 0;
}

.m-blog .post p {
  margin: 25px 0;
}

.m-blog i {
  margin-left: 15px;
  color: #333333;
}

@media (max-width: 570px) {
  .m-blog h2 {
    font-size: 34px;
  }
}

.m-related-posts {
  margin-bottom: 80px;
}

.m-related-posts h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
  line-height: 50px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #939393;
}

.m-related-posts .posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr 1fr 0px;
  gap: 25px;
}

.m-related-posts figure {
  overflow: hidden;
}

.m-related-posts img {
  width: 100%;
}

.m-comments h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
  line-height: 50px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #939393;
}

.m-comments .past-comments {
  margin-bottom: 80px;
}

.m-comments article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95px 1fr;
      grid-template-columns: 95px 1fr;
  margin-bottom: 25px;
}

.m-comments time {
  font-size: 12px;
  color: #939393;
}

.m-comments .comment-area {
  background-color: #F6F6F6;
  padding: 20px 20px 40px 20px;
  position: relative;
}

.m-comments .comment-area:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -15px;
  border-color: transparent #F6F6F6 transparent transparent;
  z-index: 1;
  border-style: solid;
  border-width: 5px 15px 5px 0;
}

.m-services {
  position: relative;
  padding: 80px 0;
  background-color: #C3DAB7;
}

.m-services h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
}

.m-services .img-container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  height: 180px;
}

.m-services .stamp-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
}

.m-services .main-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-services article {
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
  text-align: center;
  margin-top: 25px;
}

.m-services p {
  color: #000000;
}

@media (max-width: 466px) {
  .stamp-img {
    display: none;
  }
}

.m-articles {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-articles button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
}

.m-articles article {
  text-align: center;
  margin: auto;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.m-articles img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.m-features {
  padding: 80px 0;
  position: relative;
  background-image: url("../assets/home-4.jpeg");
  background-position: 80% 0;
  background-size: cover;
}

.m-features .wrapper {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.m-features h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
}

.m-features ul {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.m-features li {
  padding: 25px 25px 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  height: 150px;
  max-width: 350px;
  margin: auto;
}

.m-features i {
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 50%;
}

.m-features img {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
  width: 100%;
}

.m-features:after {
  content: '';
  height: 50px;
  width: calc(50% - 1px);
  display: block;
  z-index: 1;
  position: absolute;
  border-right: 1px solid #939393;
  bottom: calc((50px / -2) - 25px);
}

@media (max-width: 520px) {
  .m-features .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .m-features ul {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .m-features li {
    padding: 25px 0;
  }
}

.m-team {
  padding: 80px 0;
}

.m-team h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.m-team h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
  margin-bottom: 16px;
  font-size: 16px;
}

.m-team strong {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
  font-size: 16px;
}

.m-team ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.m-team .team-card {
  padding: 50px;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  text-align: left;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.m-team .work-card {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.8px;
  font-size: 16px;
  padding: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
}

.m-team img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

@media (max-width: 472px) {
  .m-team ul li:first-child {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
    max-width: 300px;
    padding: 50px 10px;
    margin: auto;
  }
  .m-team ul li:nth-child(5),
  .m-team ul li:nth-child(6),
  .m-team ul li:nth-child(7) {
    display: none;
  }
}

.m-call-to-action {
  overflow: hidden;
  background-color: #C3DAB7;
}

.m-call-to-action article {
  width: 50%;
  height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-call-to-action article p {
  max-width: 350px;
  margin-bottom: 25px;
  color: #333333;
}

.m-call-to-action img {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 740px) {
  .m-call-to-action article {
    width: 100%;
  }
  .m-call-to-action img {
    display: none;
  }
}

/* SMACSS Module Rules */
