a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, a {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  line-height: 1.5rem;
  color: #000000;
}

h1 {
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

h2, h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.8px;
}

p, address, span, input {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.3px;
}

button {
  border-radius: 0;
  border: none;
}

* {
  -webkit-box-shadow: 0 0 0 1px red;
          box-shadow: 0 0 0 1px red;
}

*:after {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

/* SMACSS Base Rules */
.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.outer-wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.m-primary-button {
  padding: 10px;
  display: inline-block;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 600;
  color: #000000;
}

.m-submit-button {
  background-color: #C3DAB7;
}

.m-line-detail, .m-line-detail-half {
  position: absolute;
  left: calc(50% - 1px);
  bottom: -75px;
  width: 1px;
  z-index: 1;
}

.m-line-detail line, .m-line-detail-half line {
  stroke: #333333;
  stroke-width: 1px;
}

.m-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.m-header .fa-bars {
  display: none;
  padding: 10px;
  font-size: 30px;
}

.m-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-header nav ul:last-child {
  text-align: right;
}

.m-header h1 {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.m-header a {
  display: inline-block;
  padding: 10px;
  color: #000000;
}

.m-header i {
  font-size: 18px;
  position: relative;
}

.m-header .fa-shopping-bag:after {
  content: '2';
  display: block;
  position: absolute;
  top: 65%;
  left: 65%;
  border-radius: 50%;
  border: 1px solid #939393;
  height: 12px;
  width: 12px;
  background-color: #C3DAB7;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 840px) {
  .m-header .mobile-menu:hover nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-header .fa-bars {
    display: inherit;
    text-align: right;
  }
  .m-header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: none;
  }
  .m-header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    width: 120px;
  }
  .m-header h1 {
    text-align: left;
  }
}

.m-footer {
  background-color: #333333;
  padding: 80px 0;
  padding-bottom: 0;
  color: #FFFFFF;
}

.m-footer h3 {
  color: #FFFFFF;
}

.m-footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-footer .content section {
  -ms-flex-preferred-size: 265px;
      flex-basis: 265px;
  margin-bottom: 25px;
}

.m-footer .content section form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px;
      grid-template-columns: 1fr 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-footer .content .posts ul {
  list-style-type: circle;
  list-style-position: inside;
}

.m-footer .content .posts p {
  display: inline;
}

.m-footer .content .subscribe {
  text-align: right;
}

.m-footer nav i {
  font-size: 1.5rem;
  margin: 10px;
}

.m-footer .bottom-container {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #939393;
}

@media (max-width: 883px) {
  .m-footer .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .m-footer .content .subscribe {
    text-align: center;
  }
}

/* SMACSS Layout Rules and Generic Modules */
/* SMACSS Non-generic Modules Rules */
.m-hero img {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-hero:after {
  content: '';
  height: 100px;
  width: calc(50% - 1px);
  display: block;
  z-index: 1;
  position: absolute;
  border-right: 1px solid #939393;
  bottom: calc((100px / -2) - 0px);
}

.m-services {
  position: relative;
  padding: 80px 0;
  background-color: #C3DAB7;
}

.m-services .img-container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  height: 180px;
}

.m-services .stamp-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
}

.m-services .main-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-services article {
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
  text-align: center;
  margin-top: 25px;
}

.m-services p {
  color: #000000;
}

@media (max-width: 466px) {
  .stamp-img {
    display: none;
  }
}

.m-articles {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-articles button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
}

.m-articles article {
  text-align: center;
  margin: auto;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.m-articles article p {
  font-style: italic;
}

.m-articles img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.m-features {
  padding: 80px 0;
  position: relative;
  background-image: url("../assets/home-4.jpeg");
  background-position: 60% 0;
}

.m-features .wrapper {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.m-features ul {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.m-features li {
  padding: 25px 25px 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  height: 150px;
  max-width: 350px;
  margin: auto;
}

.m-features i {
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 50%;
}

.m-features img {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
  width: 100%;
}

.m-features:after {
  content: '';
  height: 50px;
  width: calc(50% - 1px);
  display: block;
  z-index: 1;
  position: absolute;
  border-right: 1px solid #939393;
  bottom: calc((50px / -2) - 25px);
}

@media (max-width: 520px) {
  .m-features .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .m-features ul {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .m-features li {
    padding: 25px 0;
  }
}

.m-team {
  padding: 80px 0;
}

.m-team h2 {
  text-align: center;
  margin-bottom: 20px;
}

.m-team ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.m-team .team-card {
  padding: 50px;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  text-align: left;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.m-team .work-card {
  padding: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-team img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

@media (max-width: 472px) {
  .m-team ul li:first-child {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
    max-width: 300px;
    padding: 50px 0;
    margin: auto;
  }
}

.m-call-to-action {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: 1fr 0px;
      grid-template-rows: 1fr 0px;
  background-color: #C3DAB7;
}

.m-call-to-action article {
  margin: auto;
  text-align: center;
  padding: 40px;
}

.m-call-to-action .m-primary-button {
  margin-top: 10px;
}

.m-call-to-action img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
